script src="../../vendor/jquery/dist/jquery.js"
script src="../../vendor/handlebars/handlebars.js"

script id="dictionary-entry-template" src="templates/dictionary_entry_template.html" type="text/x-handlebars-template"

script src="../app/presenters/HomePresenter.js"
javascript:
  new HomePresenter()

div class="js-outcome"

input type="text" class="js-input"

